.gitignore
*.pkl
*.json
*.zip
*.png
*.npy
*.pyc
*.csv
*.rar
*.lock
plots/*
math-rollouts/
math-rollouts_test/
.cursorindexingignore
.specstory

gpqa-rollouts/

analysis/
attn_cache/
csvs/
plots/
kl_results/

backup.txt
debug.txt
midway-pre.txt
docs/

CLAUDE.md

reports/
paper/